
body {
    font-family: Georgia;
    color: white;
    background-color: #353535;
}

a, a:hover, a:active, a:visited { color: white; }

#page-header
{
    display: inline-block;
    margin-top: 14px;
    font-size: 24px;
    margin-bottom: 0px;
}


#sidebar {
    display:inline-block;
    vertical-align:top;
    max-width: 250px;
    padding: 15px;

}
.settings {
    display: inline-block;

}

#mode-select {
    display:block;
    margin: 10px;
}

#description {
    font-size: 0.7em;
}

#clear-all {
        
    display: block;
    margin: 10px;
}

.pixel-box {
    vertical-align:top;
    border: solid;
    border-width: 0 0 1px 1px;
    cursor: pointer;
    display: inline-block;
    color: #353535;
    background-color: white;
}

#main-pixel-box {
    margin-top: 45px;
}

.sub-header {
    font-size: 16px;
}

.pixel-box tr {
    cursor: pointer;
}

.pixel-box td {
    height: 7px;
    width: 7px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

.sample-pattern {
    width: 64px;
    height: 64px;
    margin: 4px;
}

td.filled  {
    background-color: palevioletred;
}